@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500&family=Oswald:wght@300&display=swap");
body {
  font-family: "Karla", sans-serif;
  text-align: justify;
  font-size: 1.2em; }

.txt, .txt-title {
  color: #000;
  font-size: 1.1em;
  font-family: "Karla", sans-serif; }
  .txt-title {
    font-size: 2.2em;
    font-family: "Bebas Neue", cursive; }

blockquote::before {
  content: open-quote; }

blockquote::after {
  content: close-quote; }

a {
  text-decoration: none;
  color: #000000; }

a:hover {
  color: #7d29ee; }

.banner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 600px; }
  .banner-flag {
    height: 400px;
    width: 250px;
    background-color: #7d29ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .banner-flag h3 {
      margin-top: 2em;
      color: #fff;
      font-size: 1.2em;
      padding: 0em 1em;
      text-align: center; }
    .banner-flag p {
      margin-top: 2em;
      color: #fff;
      font-size: 1em;
      padding: 0em 1em;
      text-align: center; }
  .banner-pos {
    display: flex;
    justify-content: center; }
  .banner-circle-l, .banner-circle-r {
    width: 250px;
    height: 250px;
    background-color: #7d29ee;
    border: 8px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 70%; }
    .banner-circle-l::after, .banner-circle-r::after {
      content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'  fill='%237d29ee' viewBox='0 0 16 16'><path d='M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z'/></svg>");
      width: 95%;
      height: 95%;
      top: 3%;
      left: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7d29ee;
      position: absolute;
      border-radius: 50%;
      background-color: white; }
  .banner-circle-r::after {
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'  fill='%237d29ee'  viewBox='0 0 16 16'><path d='M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z'/><path d='M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z'/></svg>");
    width: 95%;
    height: 95%;
    top: 3%;
    left: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d29ee;
    position: absolute;
    border-radius: 50%;
    background-color: white; }
  .banner-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .banner-prof {
    font-family: "Oswald", sans-serif;
    font-size: 3em;
    background-color: #7d29ee;
    color: #fff;
    padding: 0.25em;
    position: relative;
    font-weight: 100; }
  .banner-name {
    font-family: "Oswald", sans-serif;
    font-size: 3.5em;
    font-weight: bold; }

h1 {
  margin: 1em 0 3em 0;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  position: relative; }

@media screen and (max-width: 768px) {
  body {
    font-size: 1em; }
  h1 {
    font-size: 2em; } }

@media screen and (max-width: 600px) {
  body {
    font-size: 1em; }
  h1 {
    font-size: 1.2em; } }

@media screen and (max-width: 1000px) {
  #banner {
    display: none; } }

.img-logo {
  width: 80px; }

.img-logo:hover {
  box-shadow: 5px 8px 20px gainsboro;
  transition: 250ms ease-in; }

.img-stack-logo {
  min-width: 80px;
  max-width: 160px;
  min-height: 80px;
  max-height: 160px;
  margin: 1em 1em; }

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2em;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: none;
  background-color: gainsboro;
  background: linear-gradient(0deg, white 0%, #777480 32%, #525151 100%); }

.img-show {
  width: 100%;
  height: 100%;
  position: relative;
  border: 9px solid gainsboro;
  border-radius: 50%; }

.img-container::before,
.img-container::after {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 1;
  transition: transform ease-out 250ms; }

.img-container:hover .img-show {
  opacity: 0.7; }

.img-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  font-family: "Karla", sans-serif;
  width: 80%;
  transition: opacity ease-out 250ms;
  opacity: 0; }

.img-text,
.img-title {
  color: white; }

.img-text {
  padding-top: 2em; }

.img-title {
  font-family: "Bebas Neue", sans-serif;
  padding-bottom: .5em; }

.img-container:hover .img-txt {
  opacity: 1; }

.hex-gallery {
  width: 100%;
  max-width: 100%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: repeat(4, 200px);
  justify-content: center;
  gap: 1rem; }

.hex {
  display: flex;
  position: relative;
  grid-column: span 2;
  width: 100%;
  height: 270px;
  background: linear-gradient(45deg, #6f41d9 0%, #4d1da4 50%, #240a6c 90%);
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

.hex::before, .hex::after {
  content: '';
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
  opacity: 1;
  transition: transform ease-out 250ms; }

.hex::after {
  transform: scale(1, 0); }

.hex-img {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

.hex .hex-img {
  opacity: 1;
  transition: 2s ease; }

.hex:hover .hex-img {
  opacity: 0.4;
  transition: 600ms ease; }

.hex-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 80%;
  transition: opacity ease-out 250ms;
  font-family: 'Karla',sans-serif;
  text-align: center;
  color: white; }

.hex:hover .hex-txt {
  opacity: 1; }

.hex-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 0;
  font-family: 'Bebas Neue' ,cursive;
  white-space: nowrap; }

.hex-body {
  margin-top: .3em; }

.hex:nth-child(1) {
  grid-column: 3 / span 2; }

.hex:nth-child(3) {
  grid-column: 2 / span 2; }

.hex:nth-child(6) {
  grid-column: 3 / span 2; }

@media screen and (max-width: 1024px) {
  .hex:nth-child(1) {
    grid-column: 3 / span 2; }
  .hex:nth-child(3) {
    grid-column: 2 / span 2; }
  .hex:nth-child(4) {
    grid-column: 6 / span 2; }
  .hex:nth-child(5) {
    grid-column: 3 / span 2; }
  .hex:nth-child(6) {
    grid-column: 5 / span 2; }
  .hex:nth-child(7) {
    grid-column: 4 / span 2; } }

@media screen and (max-width: 900px) {
  .hex:nth-child(1) {
    grid-column: 4 / span 2; }
  .hex:nth-child(2) {
    grid-column: 3 / span 2; }
  .hex:nth-child(3) {
    grid-column: 5 / span 2; }
  .hex:nth-child(4) {
    grid-column: 4 / span 2; }
  .hex:nth-child(5) {
    grid-column: 3 / span 2; }
  .hex:nth-child(7) {
    grid-column: 4 / span 2; }
  .hex-gallery {
    grid-template-rows: repeat(5, 200px); } }

@media screen and (max-width: 600px) {
  .hex-gallery {
    grid-template-rows: repeat(6, 200px); }
  .hex:nth-child(1) {
    grid-column: 4 / span 2; }
  .hex:nth-child(2) {
    grid-column: 4 / span 2; }
  .hex:nth-child(3) {
    grid-column: 4 / span 2; }
  .hex:nth-child(4) {
    grid-column: 4 / span 2; }
  .hex:nth-child(5) {
    grid-column: 4 / span 2; }
  .hex:nth-child(6) {
    grid-column: 4 / span 2; }
  .hex:nth-child(7) {
    grid-column: 4 / span 2; } }

.form-div {
  padding: 2em 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(200px, auto);
  row-gap: 0em;
  column-gap: 2em; }

.form-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; }

.form-lb {
  font-weight: bold; }
  .form-lb::after, .form-lb::before {
    content: "-"; }

input, select, option {
  font-size: 1em; }

input[type="text"] {
  border: hidden;
  border-bottom: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  outline: none;
  border-width: 1;
  background: #e9f1f7; }

input[type="text"]:focus {
  border-color: #0960d5;
  background-color: #0c55b7;
  opacity: 0.8;
  color: #fff;
  transition: 250ms ease-in; }

input[type="submit"] {
  border: 2px solid #7718f3;
  background-color: #7d29ee;
  color: white;
  border-radius: 1em; }

input[type="submit"]:hover {
  background-color: #0960d5;
  border-color: #0c55b7;
  transition: ease-in 500ms; }

select {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  background-color: #e9f1f7;
  color: #969696; }

select:focus {
  background-color: #0960d5;
  border-color: #0c55b7;
  color: #fff;
  opacity: 0.8;
  transition: ease-in 500ms; }

fieldset {
  margin-top: 1em;
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  position: relative;
  display: flex;
  justify-content: center; }
  fieldset::before, fieldset::after {
    content: "";
    height: 20%;
    display: block;
    width: 30%;
    position: absolute;
    margin-top: 0.5em; }
  fieldset::before {
    background-color: #7d29ee;
    left: 7%;
    top: 0; }
  fieldset::after {
    background-color: #7d29ee;
    right: 7%;
    top: 0; }

select {
  height: 1.7em; }

input[select] {
  height: 2em; }

@media screen and (max-width: 550px) {
  input, select, option {
    font-size: 0.8em; }
  .form-div {
    padding: 2em 2em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(200px, auto);
    gap: 2em; }
  fieldset::before, fieldset::after {
    content: "";
    height: 20%;
    display: block;
    width: 20%;
    position: absolute;
    margin-top: 0.5em; }
  fieldset::before {
    background-color: #7d29ee;
    left: 5%;
    top: 0; }
  fieldset::after {
    background-color: #7d29ee;
    right: 5%;
    top: 0; } }

section {
  margin-bottom: 150px; }

body {
  /*  background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(111, 65, 217, 1) 0%,
      rgba(77, 29, 164, 1) 30%,
      rgba(36, 10, 108, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    ); */
  background-color: #fff;
  margin: 0;
  padding: 0; }

header,
nav {
  min-height: 120px;
  max-height: 200px;
  display: block; }

button {
  padding: 0.2em 3em;
  margin-bottom: 1.5em;
  background-color: #7d29ee;
  color: #fff;
  border: 1px #7718f3 solid;
  border-radius: 1em;
  font-weight: 500; }

button:hover {
  background-color: #0960d5;
  border: 1px #0c55b7 solid;
  transition: 500ms ease-in; }

.btn-ref {
  margin: auto;
  padding: 0.2em 1em;
  background-color: #fb188d;
  color: #fff;
  border: 1px #7718f3 solid;
  border-radius: 1em;
  font-weight: 500;
  transform: scale(1);
  transition: color 600ms, transform 600ms; }
  .btn-ref:hover {
    color: #ffffb7;
    transform: scale(1.2);
    transition: color 600ms, transform 300ms; }

#btn-delete-solicitud {
  padding: 0.2em 0.5em;
  display: none; }

table {
  width: 100%;
  text-align: center;
  margin-top: 1em; }

th {
  background-color: #7d29ee;
  color: #fff;
  padding: .25em 0em; }

table tr td {
  padding: 1em 0em;
  font-weight: 500; }

table tr {
  border-right: 1px solid #7718f3;
  border-left: 1px solid #7718f3; }

table tr:nth-child(even) {
  background-color: gainsboro;
  border-bottom: gainsboro; }

table tr:last-child {
  border-bottom: 1px solid #7718f3; }

#tabla-solicitudes {
  visibility: hidden; }

@media screen and (max-width: 550px) {
  table {
    border-collapse: separate;
    border-spacing: 0 15px;
    background-color: white; }
  table th {
    display: none; }
  table tr td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: relative;
    padding: 1em 1em;
    border-bottom: none;
    border-left: 1px solid #7718f3; }
  table tr td:last-child {
    border-bottom: 1px solid #7718f3; }
  table tr td:nth-child(even) {
    background-color: gainsboro; }
  table tr td::before {
    content: attr(data-label);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: -2px;
    top: -1px;
    height: 108%;
    width: 80px;
    padding-left: 1em;
    font-weight: bold;
    text-align: left;
    transition: 500ms ease;
    background-color: #7d29ee;
    border-bottom: 1px solid #7718f3;
    border-top: 1px solid #7718f3;
    border-right: 1px solid #7718f3;
    color: #fff; }
  tr,
  td {
    background-color: #fff;
    border: 1px solid #7718f3;
    font-size: 0.8em;
    font-weight: 700; } }

.card-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 1000px; }

.card-holder {
  margin: 1em 1em 25px 0em;
  perspective: 1000px; }

.card {
  width: 250px;
  height: 320px;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
  border-radius: 1em;
  box-shadow: 0px 0px 30px -5px gray; }

.pokecard {
  width: 320px;
  height: 260px;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
  border-radius: 1em;
  box-shadow: 0px 0px 30px -5px gray;
  border: 10px solid #f83df8;
  background-color: violet; }

.card-holder:hover .card, .card-holder:hover .pokecard {
  transform: rotateY(180deg); }

.card-front, .card-front-poke,
.card-back,
.card-back-poke {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1em;
  backface-visibility: hidden;
  transform-style: preserve-3d; }

.pokeImg {
  margin: auto;
  width: 150px;
  height: 150px;
  border: 5px solid #f83df8;
  border-radius: 1em;
  box-shadow: 0px 10px 50px 15px #f83df8; }

.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1em; }


.card-back,
.card-back-poke {
  transform: rotateY(180deg); }

.card-front, .card-front-poke {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; }

.card-front-body {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 1em; }

.card-back-body {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  color: white; }

.card-back-body h2 {
  text-align: center;
  margin-top: 0.5em;
  font-weight: bold; }

.card-back-body p {
  margin-top: 30px; }

.card-back-body ul {
  margin-top: 1em;
  list-style: "- "; }

.card-back-body li {
  font-size: .9em;
  margin-right: 1em;
  text-align: left; }

.card-back-body input {
  padding: 10px 20px;
  margin: 1em auto;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #7d29ee;
  box-shadow: 1px 1px 30px -5px #7d29ee;
  border-radius: 10px;
  transition: box-shadow 600ms, background-color 600ms;
  position: absolute;
  bottom: 10px;
  left: 70px; }

.card-back-body input:hover {
  box-shadow: 1px 1px 30px -5px #0c55b7;
  background-color: #0c55b7;
  transition: box-shadow 600ms, background-color 600ms; }

.card-front-poke {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
  text-align: center; }
  .card-front-poke h2 {
    text-transform: capitalize;
    font-family: 'karla',sans-serif; }

.card-back-poke {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
  text-align: center; }
  .card-back-poke h2 {
    text-transform: capitalize;
    font-family: 'karla',sans-serif;
    color: #000; }
  .card-back-poke ul li {
    color: black; }

.pokeSearch {
  text-align: center;
  font-weight: bold; }

#pokeAPI {
  display: none; }
