$color-1: #0960d5;
$color-2: #fb188d;
$color-3: #7d29ee;
$color-4: #0c55b7;
$color-5: #ff3e14;
$color-6: #ff1c1c;
$color-blue: #2274a5;
$color-sand: #e7dfc6;
$color-snow: #e9f1f7;
$color-black: #131b23;
$color-dust: #816c61;
$color-gray:#969696;