//font
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla&display=swap");

$font-size: 1.1em;
$font-size-t: 2.2em;
$font-bold: 600;

body {
  font-family: "Karla", sans-serif;
  text-align: justify;
  font-size: 1.2em;
}
//mixins
@mixin text {
  color: #000;
  font-size: $font-size;
}
//text
.txt {
  @include text();
  font-family: "Karla", sans-serif;
  &-title {
    @extend .txt;
    font-size: $font-size-t;
    font-family: "Bebas Neue", cursive;
  }
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

a {
  text-decoration: none;
  color: $color-black;
}
a:hover {
  color: $color-3;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1em;
  }
}
