button{
    padding: .2em 3em;
    margin-bottom: 1.5em;
    background-color: $color-3;
    color: #fff;
    border: 1px $color-7 solid;
    border-radius: 1em;
    font-weight: 500;
}
button:hover{
    background-color: $color-1;
    border: 1px $color-4 solid;
    transition: 500ms ease-in;
}
#btn-delete-solicitud{
    padding: 0.2em .5em ;
    display: none;
}