
  th {
    background-color: $color-3;
    color: white;
  }
  th,
  td {
    text-align: center;
    padding: 5px;
  }
tbody,th,tr,td{
    border: 1px solid gainsboro;
}
@media screen and(max-width:650px) {
    table th {
        display: none;
    }
    table tbody tr td {

        display: block;
        text-align: right;
        position: relative;
        padding-bottom: 1em;
    }
    table{
        border-collapse: separate;
        border-spacing: 0 15px;
        background-color: white;
    }

    table tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        font-weight: bold;
        padding-left: 1em;
        transition: 500ms ease;
    }
}
