table,
th,
tr,
td,
tbody,
thead {
    border: 1px solid gainsboro;
    text-align: center;
    
}

table{
    background-color: $color-snow;
    
}

th::after,th::before{
    content: '-';
    white-space: nowrap;
    
}
