section {
    margin-bottom: 150px;
  }
  // Paleta de colores
  
  body {
    /*  background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(111, 65, 217, 1) 0%,
      rgba(77, 29, 164, 1) 30%,
      rgba(36, 10, 108, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    ); */
    background-color: #fff;
    margin: 0;
    padding: 0;
  }
  header,
  nav {
    min-height: 120px;
    max-height: 200px;
    display: block;
  }