/*
.seccion{
  border: 8px solid $color-7;
  filter: blur(1em);
  transition: 300ms ease-in;
}
.seccion:hover{
  filter: none;
  transition: 300ms ease-out;
}
 
La seccion se pone borrosa y al hacer hover se aclara */